<a href="https://colab.research.google.com/github/minerva12938/ai_notes_s22/blob/main/housing_example.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#doing the basic/set up steps

In [681]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns


data_train = pd.read_csv('train.csv')
data_test = pd.read_csv('test.csv')

In [682]:
data_train.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [683]:
data_test.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,1461,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,AllPub,...,120,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal
1,1462,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal
2,1463,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal
3,1464,60,RL,78.0,9978,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,6,2010,WD,Normal
4,1465,120,RL,43.0,5005,Pave,NaN,IR1,HLS,AllPub,...,144,0,NaN,NaN,NaN,0,1,2010,WD,Normal

In [684]:
data_train.describe()

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,...,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SalePrice
count,1460.000000,1460.000000,1201.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1452.000000,1460.000000,...,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000
mean,730.500000,56.897260,70.049958,10516.828082,6.099315,5.575342,1971.267808,1984.865753,103.685262,443.639726,...,94.244521,46.660274,21.954110,3.409589,15.060959,2.758904,43.489041,6.321918,2007.815753,180921.195890
std,421.610009,42.300571,24.284752,9981.264932,1.382997,1.112799,30.202904,20.645407,181.066207,456.098091,...,125.338794,66.256028,61.119149,29.317331,55.757415,40.177307,496.123024,2.703626,1.328095,79442.502883
min,1.000000,20.000000,21.000000,1300.000000,1.000000,1.000000,1872.000000,1950.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,2006.000000,34900.000000
25%,365.750000,20.000000,59.000000,7553.500000,5.000000,5.000000,1954.000000,1967.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,5.000000,2007.000000,129975.000000
50%,730.500000,50.000000,69.000000,9478.500000,6.000000,5.000000,1973.000000,1994.000000,0.000000,383.500000,...,0.000000,25.000000,0.000000,0.000000,0.000000,0.000000,0.000000,6.000000,2008.000000,163000.000000
75%,1095.250000,70.000000,80.000000,11601.500000,7.000000,6.000000,2000.000000,2004.000000,166.000000,712.250000,...,168.000000,68.000000,0.000000,0.000000,0.000000,0.000000,0.000000,8.000000,2009.000000,214000.000000
max,1460.000000,190.000000,313.000000,215245.000000,10.000000,9.000000,2010.000000,2010.000000,1600.000000,5644.000000,...,857.000000,547.000000,552.000000,508.000000,480.000000,738.000000,15500.000000,12.000000,2010.000000,755000.000000

In [685]:
data_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Data columns (total 81 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             1460 non-null   int64
 1   MSSubClass     1460 non-null   int64
 2   MSZoning       1460 non-null   object
 3   LotFrontage    1201 non-null   float64
 4   LotArea        1460 non-null   int64
 5   Street         1460 non-null   object
 6   Alley          91 non-null     object
 7   LotShape       1460 non-null   object
 8   LandContour    1460 non-null   object
 9   Utilities      1460 non-null   object
 10  LotConfig      1460 non-null   object
 11  LandSlope      1460 non-null   object
 12  Neighborhood   1460 non-null   object
 13  Condition1     1460 non-null   object
 14  Condition2     1460 non-null   object
 15  BldgType       1460 non-null   object
 16  HouseStyle     1460 non-null   object
 17  OverallQual    1460 non-null   int64
 18  OverallCond    1460 non-null   int64
 19  YearBuilt      1460 non-null   int64
 20  YearRemodAdd   1460 non-null   int64
 21  RoofStyle      1460 non-null   object
 22  RoofMatl       1460 non-null   object
 23  Exterior1st    1460 non-null   object
 24  Exterior2nd    1460 non-null   object
 25  MasVnrType     1452 non-null   object
 26  MasVnrArea     1452 non-null   float64
 27  ExterQual      1460 non-null   object
 28  ExterCond      1460 non-null   object
 29  Foundation     1460 non-null   object
 30  BsmtQual       1423 non-null   object
 31  BsmtCond       1423 non-null   object
 32  BsmtExposure   1422 non-null   object
 33  BsmtFinType1   1423 non-null   object
 34  BsmtFinSF1     1460 non-null   int64
 35  BsmtFinType2   1422 non-null   object
 36  BsmtFinSF2     1460 non-null   int64
 37  BsmtUnfSF      1460 non-null   int64
 38  TotalBsmtSF    1460 non-null   int64
 39  Heating        1460 non-null   object
 40  HeatingQC      1460 non-null   object
 41  CentralAir     1460 non-null   object
 42  Electrical     1459 non-null   object
 43  1stFlrSF       1460 non-null   int64
 44  2ndFlrSF       1460 non-null   int64
 45  LowQualFinSF   1460 non-null   int64
 46  GrLivArea      1460 non-null   int64
 47  BsmtFullBath   1460 non-null   int64
 48  BsmtHalfBath   1460 non-null   int64
 49  FullBath       1460 non-null   int64
 50  HalfBath       1460 non-null   int64
 51  BedroomAbvGr   1460 non-null   int64
 52  KitchenAbvGr   1460 non-null   int64
 53  KitchenQual    1460 non-null   object
 54  TotRmsAbvGrd   1460 non-null   int64
 55  Functional     1460 non-null   object
 56  Fireplaces     1460 non-null   int64
 57  FireplaceQu    770 non-null    object
 58  GarageType     1379 non-null   object
 59  GarageYrBlt    1379 non-null   float64
 60  GarageFinish   1379 non-null   object
 61  GarageCars     1460 non-null   int64
 62  GarageArea     1460 non-null   int64
 63  GarageQual     1379 non-null   object
 64  GarageCond     1379 non-null   object
 65  PavedDrive     1460 non-null   object
 66  WoodDeckSF     1460 non-null   int64
 67  OpenPorchSF    1460 non-null   int64
 68  EnclosedPorch  1460 non-null   int64
 69  3SsnPorch      1460 non-null   int64
 70  ScreenPorch    1460 non-null   int64
 71  PoolArea       1460 non-null   int64
 72  PoolQC         7 non-null      object
 73  Fence          281 non-null    object
 74  MiscFeature    54 non-null     object
 75  MiscVal        1460 non-null   int64
 76  MoSold         1460 non-null   int64
 77  YrSold         1460 non-null   int64
 78  SaleType       1460 non-null   object
 79  SaleCondition  1460 non-null   object
 80  SalePrice      1460 non-null   int64
dtypes: float64(3), int64(35), object(43)
memory usage: 924.0+ KB

insights:
- SalePrice is the target column/what we're predicting
- things to ignore: lot shape, Id (since it's like a name), LandContour
- note: I had lots of trouble here ^^ as most factors seemed important
- insigt from using .info()/ideas for using fillna(): the ones that have NaN values have meanings so I think they shouldn't be ignored by filled with zeroes (ex: having an allery value of NaN means there isn't an alley

#drop unneeded columns

In [686]:
data_train.drop(['Id', 'LotShape', 'LandContour'], axis = 1, inplace = True)

In [687]:
data_train

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,Utilities,LotConfig,LandSlope,Neighborhood,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,60,RL,65.0,8450,Pave,NaN,AllPub,Inside,Gtl,CollgCr,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,20,RL,80.0,9600,Pave,NaN,AllPub,FR2,Gtl,Veenker,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,60,RL,68.0,11250,Pave,NaN,AllPub,Inside,Gtl,CollgCr,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,70,RL,60.0,9550,Pave,NaN,AllPub,Corner,Gtl,Crawfor,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,60,RL,84.0,14260,Pave,NaN,AllPub,FR2,Gtl,NoRidge,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,60,RL,62.0,7917,Pave,NaN,AllPub,Inside,Gtl,Gilbert,...,0,NaN,NaN,NaN,0,8,2007,WD,Normal,175000
1456,20,RL,85.0,13175,Pave,NaN,AllPub,Inside,Gtl,NWAmes,...,0,NaN,MnPrv,NaN,0,2,2010,WD,Normal,210000
1457,70,RL,66.0,9042,Pave,NaN,AllPub,Inside,Gtl,Crawfor,...,0,NaN,GdPrv,Shed,2500,5,2010,WD,Normal,266500
1458,20,RL,68.0,9717,Pave,NaN,AllPub,Inside,Gtl,NAmes,...,0,NaN,NaN,NaN,0,4,2010,WD,Normal,142125
1459,20,RL,75.0,9937,Pave,NaN,AllPub,Inside,Gtl,Edwards,...,0,NaN,NaN,NaN,0,6,2008,WD,Normal,147500

#changing the way years are viewed; putting them into groups

In [688]:
#finding all the columns with years
years_col = ['YearBuilt', 'YearRemodAdd', 'GarageYrBlt', 'YrSold']

for col in years_col:
  data_train[col] = pd.cut(data_train[col], bins = 10, labels = False)

print(data_train.head())

   MSSubClass MSZoning  LotFrontage  LotArea Street Alley Utilities LotConfig  \
0          60       RL         65.0     8450   Pave   NaN    AllPub    Inside
1          20       RL         80.0     9600   Pave   NaN    AllPub       FR2
2          60       RL         68.0    11250   Pave   NaN    AllPub    Inside
3          70       RL         60.0     9550   Pave   NaN    AllPub    Corner
4          60       RL         84.0    14260   Pave   NaN    AllPub       FR2

  LandSlope Neighborhood  ... PoolArea PoolQC Fence MiscFeature  MiscVal  \
0       Gtl      CollgCr  ...        0    NaN   NaN         NaN        0
1       Gtl      Veenker  ...        0    NaN   NaN         NaN        0
2       Gtl      CollgCr  ...        0    NaN   NaN         NaN        0
3       Gtl      Crawfor  ...        0    NaN   NaN         NaN        0
4       Gtl      NoRidge  ...        0    NaN   NaN         NaN        0

   MoSold  YrSold  SaleType SaleCondition SalePrice
0       2       4        WD        Normal    208500
1       5       2        WD        Normal    181500
2       9       4        WD        Normal    223500
3       2       0        WD       Abnorml    140000
4      12       4        WD        Normal    250000

[5 rows x 78 columns]

#fill na 
- I chose to fill it with 0s as explained earlier

In [689]:
data_train.fillna(0, inplace = True)
data_train

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,Utilities,LotConfig,LandSlope,Neighborhood,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,60,RL,65.0,8450,Pave,0,AllPub,Inside,Gtl,CollgCr,...,0,0,0,0,0,2,4,WD,Normal,208500
1,20,RL,80.0,9600,Pave,0,AllPub,FR2,Gtl,Veenker,...,0,0,0,0,0,5,2,WD,Normal,181500
2,60,RL,68.0,11250,Pave,0,AllPub,Inside,Gtl,CollgCr,...,0,0,0,0,0,9,4,WD,Normal,223500
3,70,RL,60.0,9550,Pave,0,AllPub,Corner,Gtl,Crawfor,...,0,0,0,0,0,2,0,WD,Abnorml,140000
4,60,RL,84.0,14260,Pave,0,AllPub,FR2,Gtl,NoRidge,...,0,0,0,0,0,12,4,WD,Normal,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,60,RL,62.0,7917,Pave,0,AllPub,Inside,Gtl,Gilbert,...,0,0,0,0,0,8,2,WD,Normal,175000
1456,20,RL,85.0,13175,Pave,0,AllPub,Inside,Gtl,NWAmes,...,0,0,MnPrv,0,0,2,9,WD,Normal,210000
1457,70,RL,66.0,9042,Pave,0,AllPub,Inside,Gtl,Crawfor,...,0,0,GdPrv,Shed,2500,5,9,WD,Normal,266500
1458,20,RL,68.0,9717,Pave,0,AllPub,Inside,Gtl,NAmes,...,0,0,0,0,0,4,9,WD,Normal,142125
1459,20,RL,75.0,9937,Pave,0,AllPub,Inside,Gtl,Edwards,...,0,0,0,0,0,6,4,WD,Normal,147500

#incorrect way to data clean, takes too long

In [690]:
# #cleaning the data
# data_train['MSZoning'] = data_train['MSZoning'].map({'A': 8, 'C': 1, 'FV': 2, 'I': 3, 'RH': 4, 'RL': 5, 'RP': 6, 'RM': 7})
# data_train['Street'] = data_train['Street'].map({'Grvl': 1, 'Pave': 2})
# data_train['Alley'] = data_train['Alley'].map({'Grvl': 1, 'Pave': 2})
# data_train['Utilities'] = data_train['Utilities'].map({'AllPub': 1, 'NoSewr': 2, 'NoSeWa': 3, 'ELO': 4})
# data_train['LotConfig'] = data_train['LotConfig'].map({'Inside': 1, 'Corner': 2, 'CulDSac': 3, 'FR2': 4, 'FR3': 5})
# data_train['LandSlope'] = data_train['LandSlope'].map({'Gtl': 1, 'Mod': 2, 'Sev': 3})
# data_train['Neighborhood'] = data_train['Neighborhood'].map({'Blmngtn': 1, 'Blueste': 2, 'BrDale': 3, 'BrkSide': 4, 'ClearCr': 5, 'CollgCr': 6, 'Crawfor': 7, 'Edwards': 8, 'Gilbert': 9, 'IDOTRR': 10, 'MeadowV': 11, 'Mitchel': 12, 'Names': 13, 'NoRidge': 14, 'NPkVill': 15, 'NridgHt': 16, 'OldTown': 17, 'SWISU': 18, 'Sawyer': 19, 'SawyerW': 20, 'Somerst': 21, 'StoneBr': 22, 'Timber': 23, 'Veenker': 24})
# data_train['Condition1'] = data_train['Condition1'].map({'Artey': 1, 'Feedr': 2, 'Norm': 3, 'RRNn': 4, 'RRAn': 5, 'PosN': 6, 'PosA': 7, 'RRNe': 8, 'RRAe': 9})
# data_train['Condition2'] = data_train['Condition2'].map({'Artey': 1, 'Feedr': 2, 'Norm': 3, 'RRNn': 4, 'RRAn': 5, 'PosN': 6, 'PosA': 7, 'RRNe': 8, 'RRAe': 9})
# data_train['BldgType'] = data_train['BldgType'].map({'1Fam': 1, '2FmCon': 2, 'Duplx': 3, 'TwnhsE': 4, 'TwnhsI': 5})
# data_train['HouseStyle'] = data_train['HouseStyle'].map({'1Story': 1, '1.5Fin': 2, '1.5Unf': 3, '2Story': 4, '2.5Fin': 5, '1.2.5Unf': 6, 'SFoyer': 7, '2.SLvl': 8})
# data_train['RoofStyle'] = data_train['RoofStyle'].map({'Flat': 1, 'Gable': 2, 'Hip': 3, 'Mansard': 4, 'Shed': 5})
# data_train['RoofMatl'] = data_train['RoofMatl'].map({'CylTile': 1, 'CompShg': 2, 'Membran': 3, 'Metal': 4, 'Roll': 5, 'Tar&Grv': 6, 'WdShake': 7, 'WdShngl': 8})
# data_train['Exterior1st'] = data_train['Exterior1st'].map({'AsbShng': 1, 'AsphShn': 2, 'BrkComm': 3, 'BrkFace': 4, 'CBlock': 5, 'CemntBd': 6, 'HdBoard': 7, 'ImStucc': 8, 'MetalSd': 9, 'Other': 10, 'Plywood': 11, 'PreCast': 12, 'Stone': 13, 'Stucco': 14, 'VinylSd': 15, 'WdSdng': 16, 'WdShing': 17})
# data_train['Exterior2nd'] = data_train['Exterior2nd'].map({'AsbShng': 1, 'AsphShn': 2, 'BrkComm': 3, 'BrkFace': 4, 'CBlock': 5, 'CemntBd': 6, 'HdBoard': 7, 'ImStucc': 8, 'MetalSd': 9, 'Other': 10, 'Plywood': 11, 'PreCast': 12, 'Stone': 13, 'Stucco': 14, 'VinylSd': 15, 'WdSdng': 16, 'WdShing': 17})
# data_train['MasVnrType'] = data_train['MasVnrType'].map({'BrkCmn': 1, 'BrkFace': 2, 'CBlock': 3, 'None': 4, 'Stone': 5})
# data_train['ExterQual'] = data_train['ExterQual'].map({'Ex': 1, 'Gd': 2, 'TA': 3, 'Fa': 4, 'Po': 5})
# data_train['ExterCond'] = data_train['ExterCond'].map({'Ex': 1, 'Gd': 2, 'TA': 3, 'Fa': 4, 'Po': 5})
# data_train['Foundation'] = data_train['Foundation'].map({'BrkTil': 1, 'CBlock': 2, 'PConc': 3, 'Slab': 4, 'Stone': 5, 'Wood': 6})
# data_train['BsmtQual'] = data_train['BsmtQual'].map({'Ex': 1, 'Gd': 2, 'TA': 3, 'Fa': 4, 'Po': 5, 'NA': 0})
# data_train['BsmtCond'] = data_train['BsmtCond'].map({'Ex': 1, 'Gd': 2, 'TA': 3, 'Fa': 4, 'Po': 5, 'NA': 0})
# data_train['BsmtExposure'] = data_train['BsmtExposure'].map({'Gd': 2, 'Av': 3, 'Mn': 4, 'No': 5, 'NA': 0})
# data_train['BsmtFinType1'] = data_train['BsmtFinType1'].map({'GLQ': 1, 'ALQ': 2, 'BLQ': 3, 'Rec': 4, 'LwQ': 5, 'Unf': 6, 'NA': 0})
# data_train['BsmtFinType2'] = data_train['BsmtFinType2'].map({'GLQ': 1, 'ALQ': 2, 'BLQ': 3, 'Rec': 4, 'LwQ': 5, 'Unf': 6, 'NA': 0})
# data_train['Heating'] = data_train['Heating'].map({'Floor': 1, 'GasA': 2, 'GasW': 3, 'Grav': 4, 'OthW': 5, 'Wall': 6})
# data_train['HeatingQC'] = data_train['HeatingQC'].map({'Ex': 1, 'Gd': 2, 'TA': 3, 'Fa': 4, 'Po': 5})
# data_train['CentralAir'] = data_train['CentralAir'].map({'N': 1, 'Y': 2})
# data_train['Electrical'] = data_train['Electrical'].map({'SBrkr': 1, 'FuseA': 2, 'FuseF': 3, 'FuseP': 4, 'Mix': 5})
# data_train['KitchenQual'] = data_train['KitchenQual'].map({'Ex': 1, 'Gd': 2, 'TA': 3, 'Fa': 4, 'Po': 5})
# data_train['Functional'] = data_train['Functional'].map({'Typ': 1, 'Min1': 2, 'Min2': 3, 'Mod': 4, 'Maj1': 5, 'Maj2': 6, 'Sev': 7, 'Sal': 8})
# data_train['FireplaceQu'] = data_train['FireplaceQu'].map({'Ex': 1, 'Gd': 2, 'TA': 3, 'Fa': 4, 'Po': 5, 'NA': 0})
# data_train['GarageType'] = data_train['GarageType'].map({'2Types': 1, 'Attchd': 2, 'Basment': 3, 'BuiltIn': 4, 'CarPort': 5, 'Detchd': 6, 'NA': 0})
# data_train['GarageFinish'] = data_train['GarageFinish'].map({'Fin': 1, 'RFn': 2, 'Unf': 3, 'NA': 0})
# data_train['GarageQual'] = data_train['GarageQual'].map({'Ex': 1, 'Gd': 2, 'TA': 3, 'Fa': 4, 'Po': 5, 'NA': 0})
# data_train['GarageCond'] = data_train['GarageCond'].map({'Ex': 1, 'Gd': 2, 'TA': 3, 'Fa': 4, 'Po': 5, 'NA': 0})
# data_train['PavedDrive'] = data_train['PavedDrive'].map({'N': 1, 'Y': 2, 'P': 3})
# data_train['PoolQC'] = data_train['PoolQC'].map({'Ex': 1, 'Gd': 2, 'TA': 3, 'Fa': 4, 'NA': 0})
# data_train['Fence'] = data_train['Fence'].map({'GdPrv': 1, 'MnPrv': 2, 'GdWo': 3, 'MnWw': 4, 'NA': 0})
# data_train['MiscFeature'] = data_train['MiscFeature'].map({'Elev': 1, 'Gar2': 2, 'Othr': 3, 'Shen': 4, 'TenC': 5, 'NA': 0})
# data_train['SaleType'] = data_train['SaleType'].map({'WD': 1, 'CWD': 2, 'VWD': 3, 'New': 4, 'COD': 5, 'Con': 6, 'ConLw': 7, 'ConLI': 8, 'ConLD': 9, 'Oth': 10})
# data_train['SaleCondition'] = data_train['SaleCondition'].map({'Normal': 1, 'Abnorml': 2, 'AdjLand': 3, 'Alloca': 4, 'Family': 5, 'Partial': 6})

# data_train

#one correct way to data clean

One-Hot Encoding & dropping unimportant columns later

In [691]:
# from sklearn.preprocessing import OneHotEncoder

# #creating instance of one-hot-encoder
# encoder = OneHotEncoder(handle_unknown='ignore')

# li = [data_train[i].dtype != 'O' for i in data_train.columns]
# re = list(data_train.columns[li])

# #perform one-hot encoding
# encoder_df = pd.DataFrame(encoder.fit_transform(data_train[['MSSubClass', 'MSZoning', 'Street', 'Alley', 'Utilities', 'LotConfig', 'LandSlope', 'Neighborhood', 'Condition1', 'Condition2', 'BldgType', 'HouseStyle', 'RoofStyle', 'RoofMatl', 'Exterior1st', 'Exterior2nd', 'MasVnrType', 'ExterQual', 'ExterCond', 'Foundation', 'BsmtQual', 'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinType2', 'Heating', 'HeatingQC', 'CentralAir', 'Electrical', 'KitchenQual', 'Functional', 'FireplaceQu', 'GarageType', 'GarageFinish', 'GarageQual', 'GarageCond', 'PavedDrive', 'PoolQC', 'Fence', 'MiscFeature', 'SaleType', 'SaleCondition']]).toarray())
# # encoder_df = pd.DataFrame(encoder.fit_transform(data_train[re]).toarray())

# #merge one-hot encoded columns back with original DataFrame
# data_train = data_train.join(encoder_df)

# #view final df
# print(data_train)

In [692]:
# data_train.drop(re, axis=1, inplace=True)


# data_train.drop(['MSSubClass', 'MSZoning', 'Street', 'Alley', 'Utilities', 'LotConfig', 'LandSlope', 'Neighborhood', 'Condition1', 'Condition2', 'BldgType', 'HouseStyle', 'RoofStyle', 'RoofMatl', 'Exterior1st', 'Exterior2nd', 'MasVnrType', 'ExterQual', 'ExterCond', 'Foundation', 'BsmtQual', 'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinType2', 'Heating', 'HeatingQC', 'CentralAir', 'Electrical', 'KitchenQual', 'Functional', 'FireplaceQu', 'GarageType', 'GarageFinish', 'GarageQual', 'GarageCond', 'PavedDrive', 'PoolQC', 'Fence', 'MiscFeature', 'SaleType', 'SaleCondition'], axis=1, inplace=True)

# print(data_train)

In [693]:
data_train

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,Utilities,LotConfig,LandSlope,Neighborhood,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,60,RL,65.0,8450,Pave,0,AllPub,Inside,Gtl,CollgCr,...,0,0,0,0,0,2,4,WD,Normal,208500
1,20,RL,80.0,9600,Pave,0,AllPub,FR2,Gtl,Veenker,...,0,0,0,0,0,5,2,WD,Normal,181500
2,60,RL,68.0,11250,Pave,0,AllPub,Inside,Gtl,CollgCr,...,0,0,0,0,0,9,4,WD,Normal,223500
3,70,RL,60.0,9550,Pave,0,AllPub,Corner,Gtl,Crawfor,...,0,0,0,0,0,2,0,WD,Abnorml,140000
4,60,RL,84.0,14260,Pave,0,AllPub,FR2,Gtl,NoRidge,...,0,0,0,0,0,12,4,WD,Normal,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,60,RL,62.0,7917,Pave,0,AllPub,Inside,Gtl,Gilbert,...,0,0,0,0,0,8,2,WD,Normal,175000
1456,20,RL,85.0,13175,Pave,0,AllPub,Inside,Gtl,NWAmes,...,0,0,MnPrv,0,0,2,9,WD,Normal,210000
1457,70,RL,66.0,9042,Pave,0,AllPub,Inside,Gtl,Crawfor,...,0,0,GdPrv,Shed,2500,5,9,WD,Normal,266500
1458,20,RL,68.0,9717,Pave,0,AllPub,Inside,Gtl,NAmes,...,0,0,0,0,0,4,9,WD,Normal,142125
1459,20,RL,75.0,9937,Pave,0,AllPub,Inside,Gtl,Edwards,...,0,0,0,0,0,6,4,WD,Normal,147500

#better way to data clean

In [694]:
categorical_columns = ['YearBuilt', 'YearRemodAdd', 'GarageYrBlt', 'YrSold','MoSold', 'MSSubClass', 'MSZoning', 'Street', 'Alley', 'Utilities', 'LotConfig', 'LandSlope', 'Neighborhood', 'Condition1', 'Condition2', 'BldgType', 'HouseStyle', 'OverallQual', 'OverallCond', 'RoofStyle', 'RoofMatl', 'Exterior1st', 'Exterior2nd', 'MasVnrType', 'ExterQual', 'ExterCond', 'Foundation', 'BsmtQual', 'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinType2', 'Heating', 'HeatingQC', 'CentralAir', 'Electrical', 'KitchenQual', 'Functional', 'FireplaceQu', 'GarageType', 'GarageFinish', 'GarageQual', 'GarageCond', 'PavedDrive', 'PoolQC', 'Fence', 'MiscFeature', 'SaleType', 'SaleCondition']

for column in categorical_columns:
    tempdf = pd.get_dummies(data_train[column], prefix= str(column))
    data_train = pd.merge(
        left=data_train,
        right=tempdf,
        left_index=True,
        right_index=True,
    )
    data_train = data_train.drop(columns=column)
print(data_train)

      LotFrontage  LotArea  MasVnrArea  BsmtFinSF1  BsmtFinSF2  BsmtUnfSF  \
0            65.0     8450       196.0         706           0        150
1            80.0     9600         0.0         978           0        284
2            68.0    11250       162.0         486           0        434
3            60.0     9550         0.0         216           0        540
4            84.0    14260       350.0         655           0        490
...           ...      ...         ...         ...         ...        ...
1455         62.0     7917         0.0           0           0        953
1456         85.0    13175       119.0         790         163        589
1457         66.0     9042         0.0         275           0        877
1458         68.0     9717         0.0          49        1029          0
1459         75.0     9937         0.0         830         290        136

      TotalBsmtSF  1stFlrSF  2ndFlrSF  LowQualFinSF  ...  SaleType_ConLw  \
0             856       856       854             0  ...               0
1            1262      1262         0             0  ...               0
2             920       920       866             0  ...               0
3             756       961       756             0  ...               0
4            1145      1145      1053             0  ...               0
...           ...       ...       ...           ...  ...             ...
1455          953       953       694             0  ...               0
1456         1542      2073         0             0  ...               0
1457         1152      1188      1152             0  ...               0
1458         1078      1078         0             0  ...               0
1459         1256      1256         0             0  ...               0

      SaleType_New  SaleType_Oth  SaleType_WD  SaleCondition_Abnorml  \
0                0             0            1                      0
1                0             0            1                      0
2                0             0            1                      0
3                0             0            1                      1
4                0             0            1                      0
...            ...           ...          ...                    ...
1455             0             0            1                      0
1456             0             0            1                      0
1457             0             0            1                      0
1458             0             0            1                      0
1459             0             0            1                      0

      SaleCondition_AdjLand  SaleCondition_Alloca  SaleCondition_Family  \
0                         0                     0                     0
1                         0                     0                     0
2                         0                     0                     0
3                         0                     0                     0
4                         0                     0                     0
...                     ...                   ...                   ...
1455                      0                     0                     0
1456                      0                     0                     0
1457                      0                     0                     0
1458                      0                     0                     0
1459                      0                     0                     0

      SaleCondition_Normal  SaleCondition_Partial
0                        1                      0
1                        1                      0
2                        1                      0
3                        0                      0
4                        1                      0
...                    ...                    ...
1455                     1                      0
1456                     1                      0
1457                     1                      0
1458                     1                      0
1459                     1                      0

[1460 rows x 370 columns]

#scaling

In [695]:
#scaling:
#normalization: 0-1
#standardization: +n - -n
import pandas as pd
from sklearn import preprocessing

og_col = data_train.columns

print(og_col)

x = data_train.values #returns a numpy array
min_max_scaler = preprocessing.MinMaxScaler()
x_scaled = min_max_scaler.fit_transform(x)
data_train = pd.DataFrame(x_scaled)

data_train.columns = og_col

print(data_train)

Index(['LotFrontage', 'LotArea', 'MasVnrArea', 'BsmtFinSF1', 'BsmtFinSF2',
       'BsmtUnfSF', 'TotalBsmtSF', '1stFlrSF', '2ndFlrSF', 'LowQualFinSF',
       ...
       'SaleType_ConLw', 'SaleType_New', 'SaleType_Oth', 'SaleType_WD',
       'SaleCondition_Abnorml', 'SaleCondition_AdjLand',
       'SaleCondition_Alloca', 'SaleCondition_Family', 'SaleCondition_Normal',
       'SaleCondition_Partial'],
      dtype='object', length=370)
      LotFrontage   LotArea  MasVnrArea  BsmtFinSF1  BsmtFinSF2  BsmtUnfSF  \
0        0.207668  0.033420    0.122500    0.125089    0.000000   0.064212
1        0.255591  0.038795    0.000000    0.173281    0.000000   0.121575
2        0.217252  0.046507    0.101250    0.086109    0.000000   0.185788
3        0.191693  0.038561    0.000000    0.038271    0.000000   0.231164
4        0.268371  0.060576    0.218750    0.116052    0.000000   0.209760
...           ...       ...         ...         ...         ...        ...
1455     0.198083  0.030929    0.000000    0.000000    0.000000   0.407962
1456     0.271565  0.055505    0.074375    0.139972    0.110583   0.252140
1457     0.210863  0.036187    0.000000    0.048724    0.000000   0.375428
1458     0.217252  0.039342    0.000000    0.008682    0.698100   0.000000
1459     0.239617  0.040370    0.000000    0.147059    0.196744   0.058219

      TotalBsmtSF  1stFlrSF  2ndFlrSF  LowQualFinSF  ...  SaleType_ConLw  \
0        0.140098  0.119780  0.413559           0.0  ...             0.0
1        0.206547  0.212942  0.000000           0.0  ...             0.0
2        0.150573  0.134465  0.419370           0.0  ...             0.0
3        0.123732  0.143873  0.366102           0.0  ...             0.0
4        0.187398  0.186095  0.509927           0.0  ...             0.0
...           ...       ...       ...           ...  ...             ...
1455     0.155974  0.142038  0.336077           0.0  ...             0.0
1456     0.252373  0.399036  0.000000           0.0  ...             0.0
1457     0.188543  0.195961  0.557869           0.0  ...             0.0
1458     0.176432  0.170721  0.000000           0.0  ...             0.0
1459     0.205565  0.211565  0.000000           0.0  ...             0.0

      SaleType_New  SaleType_Oth  SaleType_WD  SaleCondition_Abnorml  \
0              0.0           0.0          1.0                    0.0
1              0.0           0.0          1.0                    0.0
2              0.0           0.0          1.0                    0.0
3              0.0           0.0          1.0                    1.0
4              0.0           0.0          1.0                    0.0
...            ...           ...          ...                    ...
1455           0.0           0.0          1.0                    0.0
1456           0.0           0.0          1.0                    0.0
1457           0.0           0.0          1.0                    0.0
1458           0.0           0.0          1.0                    0.0
1459           0.0           0.0          1.0                    0.0

      SaleCondition_AdjLand  SaleCondition_Alloca  SaleCondition_Family  \
0                       0.0                   0.0                   0.0
1                       0.0                   0.0                   0.0
2                       0.0                   0.0                   0.0
3                       0.0                   0.0                   0.0
4                       0.0                   0.0                   0.0
...                     ...                   ...                   ...
1455                    0.0                   0.0                   0.0
1456                    0.0                   0.0                   0.0
1457                    0.0                   0.0                   0.0
1458                    0.0                   0.0                   0.0
1459                    0.0                   0.0                   0.0

      SaleCondition_Normal  SaleCondition_Partial
0                      1.0                    0.0
1                      1.0                    0.0
2                      1.0                    0.0
3                      0.0                    0.0
4                      1.0                    0.0
...                    ...                    ...
1455                   1.0                    0.0
1456                   1.0                    0.0
1457                   1.0                    0.0
1458                   1.0                    0.0
1459                   1.0                    0.0

[1460 rows x 370 columns]

#correlation


using correlation to find columns that might be important later on to take out because correlation is very high

In [696]:
# corr_matrix = data_train.corr()
# plt.figure(figsize = (200,180))
# sns.heatmap(data = corr_matrix, cmap = 'BrBG', annot = True, linewidths = 0.2)

highly correlated ones include:
- SalesPrice & OverallQual
- SalesPrice & GrLivArea
- GarageArea & GarageCars
- TotRmsAbvGrd & GrLivArea
- 1stFirSF & TotalBsmtSF

- question to ask in class: what is the significance of dark brown (and therefore highly negatively correlated) connections?
  - do we need to take these out or double them in some way?
- also note: this was incredibly difficult to understand and interpret because there are so about 80 different characteristics here (I counted :D) so please let me know if there's an easier way to do this

------

#test data

#drop unneeded columns

In [697]:
data_test.drop(['Id', 'LotShape', 'LandContour'], axis = 1, inplace = True)
data_test

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,Utilities,LotConfig,LandSlope,Neighborhood,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,20,RH,80.0,11622,Pave,NaN,AllPub,Inside,Gtl,NAmes,...,120,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal
1,20,RL,81.0,14267,Pave,NaN,AllPub,Corner,Gtl,NAmes,...,0,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal
2,60,RL,74.0,13830,Pave,NaN,AllPub,Inside,Gtl,Gilbert,...,0,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal
3,60,RL,78.0,9978,Pave,NaN,AllPub,Inside,Gtl,Gilbert,...,0,0,NaN,NaN,NaN,0,6,2010,WD,Normal
4,120,RL,43.0,5005,Pave,NaN,AllPub,Inside,Gtl,StoneBr,...,144,0,NaN,NaN,NaN,0,1,2010,WD,Normal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1454,160,RM,21.0,1936,Pave,NaN,AllPub,Inside,Gtl,MeadowV,...,0,0,NaN,NaN,NaN,0,6,2006,WD,Normal
1455,160,RM,21.0,1894,Pave,NaN,AllPub,Inside,Gtl,MeadowV,...,0,0,NaN,NaN,NaN,0,4,2006,WD,Abnorml
1456,20,RL,160.0,20000,Pave,NaN,AllPub,Inside,Gtl,Mitchel,...,0,0,NaN,NaN,NaN,0,9,2006,WD,Abnorml
1457,85,RL,62.0,10441,Pave,NaN,AllPub,Inside,Gtl,Mitchel,...,0,0,NaN,MnPrv,Shed,700,7,2006,WD,Normal
1458,60,RL,74.0,9627,Pave,NaN,AllPub,Inside,Mod,Mitchel,...,0,0,NaN,NaN,NaN,0,11,2006,WD,Normal

#fixing how years are grouped

In [698]:
#finding all the columns with years
years_col = ['YearBuilt', 'YearRemodAdd', 'GarageYrBlt', 'YrSold']

for col in years_col:
  data_test[col] = pd.cut(data_test[col], bins = 10, labels = False)

print(data_test.head())
print(data_test.GarageYrBlt)

   MSSubClass MSZoning  LotFrontage  LotArea Street Alley Utilities LotConfig  \
0          20       RH         80.0    11622   Pave   NaN    AllPub    Inside
1          20       RL         81.0    14267   Pave   NaN    AllPub    Corner
2          60       RL         74.0    13830   Pave   NaN    AllPub    Inside
3          60       RL         78.0     9978   Pave   NaN    AllPub    Inside
4         120       RL         43.0     5005   Pave   NaN    AllPub    Inside

  LandSlope Neighborhood  ... ScreenPorch PoolArea PoolQC  Fence  MiscFeature  \
0       Gtl        NAmes  ...         120        0    NaN  MnPrv          NaN
1       Gtl        NAmes  ...           0        0    NaN    NaN         Gar2
2       Gtl      Gilbert  ...           0        0    NaN  MnPrv          NaN
3       Gtl      Gilbert  ...           0        0    NaN    NaN          NaN
4       Gtl      StoneBr  ...         144        0    NaN    NaN          NaN

   MiscVal  MoSold  YrSold SaleType SaleCondition
0        0       6       9       WD        Normal
1    12500       6       9       WD        Normal
2        0       3       9       WD        Normal
3        0       6       9       WD        Normal
4        0       1       9       WD        Normal

[5 rows x 77 columns]
0       2.0
1       2.0
2       3.0
3       3.0
4       3.0
       ...
1454    NaN
1455    2.0
1456    2.0
1457    NaN
1458    3.0
Name: GarageYrBlt, Length: 1459, dtype: float64

#fill na

In [699]:
data_test.fillna(0, inplace = True)
data_test

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,Utilities,LotConfig,LandSlope,Neighborhood,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,20,RH,80.0,11622,Pave,0,AllPub,Inside,Gtl,NAmes,...,120,0,0,MnPrv,0,0,6,9,WD,Normal
1,20,RL,81.0,14267,Pave,0,AllPub,Corner,Gtl,NAmes,...,0,0,0,0,Gar2,12500,6,9,WD,Normal
2,60,RL,74.0,13830,Pave,0,AllPub,Inside,Gtl,Gilbert,...,0,0,0,MnPrv,0,0,3,9,WD,Normal
3,60,RL,78.0,9978,Pave,0,AllPub,Inside,Gtl,Gilbert,...,0,0,0,0,0,0,6,9,WD,Normal
4,120,RL,43.0,5005,Pave,0,AllPub,Inside,Gtl,StoneBr,...,144,0,0,0,0,0,1,9,WD,Normal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1454,160,RM,21.0,1936,Pave,0,AllPub,Inside,Gtl,MeadowV,...,0,0,0,0,0,0,6,0,WD,Normal
1455,160,RM,21.0,1894,Pave,0,AllPub,Inside,Gtl,MeadowV,...,0,0,0,0,0,0,4,0,WD,Abnorml
1456,20,RL,160.0,20000,Pave,0,AllPub,Inside,Gtl,Mitchel,...,0,0,0,0,0,0,9,0,WD,Abnorml
1457,85,RL,62.0,10441,Pave,0,AllPub,Inside,Gtl,Mitchel,...,0,0,0,MnPrv,Shed,700,7,0,WD,Normal
1458,60,RL,74.0,9627,Pave,0,AllPub,Inside,Mod,Mitchel,...,0,0,0,0,0,0,11,0,WD,Normal

#data cleaning

In [700]:
categorical_columns = ['YearBuilt', 'YearRemodAdd', 'GarageYrBlt', 'YrSold','MoSold', 'MSSubClass', 'MSZoning', 'Street', 'Alley', 'Utilities', 'LotConfig', 'LandSlope', 'Neighborhood', 'Condition1', 'Condition2', 'BldgType', 'HouseStyle', 'OverallQual', 'OverallCond', 'RoofStyle', 'RoofMatl', 'Exterior1st', 'Exterior2nd', 'MasVnrType', 'ExterQual', 'ExterCond', 'Foundation', 'BsmtQual', 'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinType2', 'Heating', 'HeatingQC', 'CentralAir', 'Electrical', 'KitchenQual', 'Functional', 'FireplaceQu', 'GarageType', 'GarageFinish', 'GarageQual', 'GarageCond', 'PavedDrive', 'PoolQC', 'Fence', 'MiscFeature', 'SaleType', 'SaleCondition']

for column in categorical_columns:
    tempdf = pd.get_dummies(data_test[column], prefix= str(column))
    data_test = pd.merge(
        left=data_test,
        right=tempdf,
        left_index=True,
        right_index=True,
    )
    data_test = data_test.drop(columns=column)
print(data_test)

      LotFrontage  LotArea  MasVnrArea  BsmtFinSF1  BsmtFinSF2  BsmtUnfSF  \
0            80.0    11622         0.0       468.0       144.0      270.0
1            81.0    14267       108.0       923.0         0.0      406.0
2            74.0    13830         0.0       791.0         0.0      137.0
3            78.0     9978        20.0       602.0         0.0      324.0
4            43.0     5005         0.0       263.0         0.0     1017.0
...           ...      ...         ...         ...         ...        ...
1454         21.0     1936         0.0         0.0         0.0      546.0
1455         21.0     1894         0.0       252.0         0.0      294.0
1456        160.0    20000         0.0      1224.0         0.0        0.0
1457         62.0    10441         0.0       337.0         0.0      575.0
1458         74.0     9627        94.0       758.0         0.0      238.0

      TotalBsmtSF  1stFlrSF  2ndFlrSF  LowQualFinSF  ...  SaleType_ConLw  \
0           882.0       896         0             0  ...               0
1          1329.0      1329         0             0  ...               0
2           928.0       928       701             0  ...               0
3           926.0       926       678             0  ...               0
4          1280.0      1280         0             0  ...               0
...           ...       ...       ...           ...  ...             ...
1454        546.0       546       546             0  ...               0
1455        546.0       546       546             0  ...               0
1456       1224.0      1224         0             0  ...               0
1457        912.0       970         0             0  ...               0
1458        996.0       996      1004             0  ...               0

      SaleType_New  SaleType_Oth  SaleType_WD  SaleCondition_Abnorml  \
0                0             0            1                      0
1                0             0            1                      0
2                0             0            1                      0
3                0             0            1                      0
4                0             0            1                      0
...            ...           ...          ...                    ...
1454             0             0            1                      0
1455             0             0            1                      1
1456             0             0            1                      1
1457             0             0            1                      0
1458             0             0            1                      0

      SaleCondition_AdjLand  SaleCondition_Alloca  SaleCondition_Family  \
0                         0                     0                     0
1                         0                     0                     0
2                         0                     0                     0
3                         0                     0                     0
4                         0                     0                     0
...                     ...                   ...                   ...
1454                      0                     0                     0
1455                      0                     0                     0
1456                      0                     0                     0
1457                      0                     0                     0
1458                      0                     0                     0

      SaleCondition_Normal  SaleCondition_Partial
0                        1                      0
1                        1                      0
2                        1                      0
3                        1                      0
4                        1                      0
...                    ...                    ...
1454                     1                      0
1455                     0                      0
1456                     0                      0
1457                     1                      0
1458                     1                      0

[1459 rows x 353 columns]

#scaling

In [701]:
#scaling:
#normalization: 0-1
#standardization: +n - -n
import pandas as pd
from sklearn import preprocessing

og_col = data_test.columns

print(og_col)

x = data_test.values #returns a numpy array
min_max_scaler = preprocessing.MinMaxScaler()
x_scaled = min_max_scaler.fit_transform(x)
data_test = pd.DataFrame(x_scaled)

data_test.columns = og_col

print(data_test)

Index(['LotFrontage', 'LotArea', 'MasVnrArea', 'BsmtFinSF1', 'BsmtFinSF2',
       'BsmtUnfSF', 'TotalBsmtSF', '1stFlrSF', '2ndFlrSF', 'LowQualFinSF',
       ...
       'SaleType_ConLw', 'SaleType_New', 'SaleType_Oth', 'SaleType_WD',
       'SaleCondition_Abnorml', 'SaleCondition_AdjLand',
       'SaleCondition_Alloca', 'SaleCondition_Family', 'SaleCondition_Normal',
       'SaleCondition_Partial'],
      dtype='object', length=353)
      LotFrontage   LotArea  MasVnrArea  BsmtFinSF1  BsmtFinSF2  BsmtUnfSF  \
0           0.400  0.184147    0.000000    0.116708    0.094364   0.126168
1           0.405  0.232124    0.083721    0.230175    0.000000   0.189720
2           0.370  0.224197    0.000000    0.197257    0.000000   0.064019
3           0.390  0.154326    0.015504    0.150125    0.000000   0.151402
4           0.215  0.064121    0.000000    0.065586    0.000000   0.475234
...           ...       ...         ...         ...         ...        ...
1454        0.105  0.008453    0.000000    0.000000    0.000000   0.255140
1455        0.105  0.007691    0.000000    0.062843    0.000000   0.137383
1456        0.800  0.336115    0.000000    0.305237    0.000000   0.000000
1457        0.310  0.162724    0.000000    0.084040    0.000000   0.268692
1458        0.370  0.147959    0.072868    0.189027    0.000000   0.111215

      TotalBsmtSF  1stFlrSF  2ndFlrSF  LowQualFinSF  ...  SaleType_ConLw  \
0        0.173111  0.104309  0.000000           0.0  ...             0.0
1        0.260844  0.196672  0.000000           0.0  ...             0.0
2        0.182139  0.111135  0.376477           0.0  ...             0.0
3        0.181747  0.110708  0.364125           0.0  ...             0.0
4        0.251227  0.186220  0.000000           0.0  ...             0.0
...           ...       ...       ...           ...  ...             ...
1454     0.107164  0.029650  0.293233           0.0  ...             0.0
1455     0.107164  0.029650  0.293233           0.0  ...             0.0
1456     0.240236  0.174275  0.000000           0.0  ...             0.0
1457     0.178999  0.120094  0.000000           0.0  ...             0.0
1458     0.195486  0.125640  0.539205           0.0  ...             0.0

      SaleType_New  SaleType_Oth  SaleType_WD  SaleCondition_Abnorml  \
0              0.0           0.0          1.0                    0.0
1              0.0           0.0          1.0                    0.0
2              0.0           0.0          1.0                    0.0
3              0.0           0.0          1.0                    0.0
4              0.0           0.0          1.0                    0.0
...            ...           ...          ...                    ...
1454           0.0           0.0          1.0                    0.0
1455           0.0           0.0          1.0                    1.0
1456           0.0           0.0          1.0                    1.0
1457           0.0           0.0          1.0                    0.0
1458           0.0           0.0          1.0                    0.0

      SaleCondition_AdjLand  SaleCondition_Alloca  SaleCondition_Family  \
0                       0.0                   0.0                   0.0
1                       0.0                   0.0                   0.0
2                       0.0                   0.0                   0.0
3                       0.0                   0.0                   0.0
4                       0.0                   0.0                   0.0
...                     ...                   ...                   ...
1454                    0.0                   0.0                   0.0
1455                    0.0                   0.0                   0.0
1456                    0.0                   0.0                   0.0
1457                    0.0                   0.0                   0.0
1458                    0.0                   0.0                   0.0

      SaleCondition_Normal  SaleCondition_Partial
0                      1.0                    0.0
1                      1.0                    0.0
2                      1.0                    0.0
3                      1.0                    0.0
4                      1.0                    0.0
...                    ...                    ...
1454                   1.0                    0.0
1455                   0.0                    0.0
1456                   0.0                    0.0
1457                   1.0                    0.0
1458                   1.0                    0.0

[1459 rows x 353 columns]

#making sure training and test data have same dimensions

In [702]:
print(data_train.shape)
print(data_test.shape)

(1460, 370)
(1459, 353)

In [703]:
#get which columns it doesn't have
columns_to_add = list(set(data_train.columns) - set(data_test.columns))
print(columns_to_add)

#make a new empty columns with this information
#doing 1: to ignore the SalePrice column bc data_test shouldn't have that
new_df = pd.DataFrame()
new_df = pd.DataFrame(columns = columns_to_add[1:])
print(new_df)

#append this new df to data_test
data_test = data_test.append(new_df, ignore_index=True)

['SalePrice', 'Condition2_RRNn', 'MiscFeature_TenC', 'GarageYrBlt_7.0', 'Exterior1st_Stone', 'Condition2_RRAe', 'Utilities_NoSeWa', 'GarageYrBlt_8.0', 'PoolQC_Fa', 'GarageYrBlt_5.0', 'Electrical_0', 'GarageQual_Ex', 'RoofMatl_Membran', 'RoofMatl_ClyTile', 'RoofMatl_Roll', 'GarageYrBlt_4.0', 'Exterior2nd_Other', 'Electrical_Mix', 'RoofMatl_Metal', 'Heating_Floor', 'HouseStyle_2.5Fin', 'Exterior1st_ImStucc', 'GarageYrBlt_6.0', 'Heating_OthW', 'Condition2_RRAn']
Empty DataFrame
Columns: [Condition2_RRNn, MiscFeature_TenC, GarageYrBlt_7.0, Exterior1st_Stone, Condition2_RRAe, Utilities_NoSeWa, GarageYrBlt_8.0, PoolQC_Fa, GarageYrBlt_5.0, Electrical_0, GarageQual_Ex, RoofMatl_Membran, RoofMatl_ClyTile, RoofMatl_Roll, GarageYrBlt_4.0, Exterior2nd_Other, Electrical_Mix, RoofMatl_Metal, Heating_Floor, HouseStyle_2.5Fin, Exterior1st_ImStucc, GarageYrBlt_6.0, Heating_OthW, Condition2_RRAn]
Index: []

[0 rows x 24 columns]

In [704]:
#delete the columns that only the testing data has bc training data doesn't have info on them
test_extra_columns = list(set(data_test.columns) - set(data_train.columns))

for col in test_extra_columns:
  data_test = data_test.drop(col, 1)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  """

In [705]:
print(data_train.shape)
print(data_test.shape)

(1460, 370)
(1459, 369)

In [706]:
#new columns are empty so need to be changed to NaN
data_test.fillna(0, inplace = True)
data_test

,LotFrontage,LotArea,MasVnrArea,BsmtFinSF1,BsmtFinSF2,BsmtUnfSF,TotalBsmtSF,1stFlrSF,2ndFlrSF,LowQualFinSF,...,GarageYrBlt_4.0,Exterior2nd_Other,Electrical_Mix,RoofMatl_Metal,Heating_Floor,HouseStyle_2.5Fin,Exterior1st_ImStucc,GarageYrBlt_6.0,Heating_OthW,Condition2_RRAn
0,0.400,0.184147,0.000000,0.116708,0.094364,0.126168,0.173111,0.104309,0.000000,0.0,...,0,0,0,0,0,0,0,0,0,0
1,0.405,0.232124,0.083721,0.230175,0.000000,0.189720,0.260844,0.196672,0.000000,0.0,...,0,0,0,0,0,0,0,0,0,0
2,0.370,0.224197,0.000000,0.197257,0.000000,0.064019,0.182139,0.111135,0.376477,0.0,...,0,0,0,0,0,0,0,0,0,0
3,0.390,0.154326,0.015504,0.150125,0.000000,0.151402,0.181747,0.110708,0.364125,0.0,...,0,0,0,0,0,0,0,0,0,0
4,0.215,0.064121,0.000000,0.065586,0.000000,0.475234,0.251227,0.186220,0.000000,0.0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1454,0.105,0.008453,0.000000,0.000000,0.000000,0.255140,0.107164,0.029650,0.293233,0.0,...,0,0,0,0,0,0,0,0,0,0
1455,0.105,0.007691,0.000000,0.062843,0.000000,0.137383,0.107164,0.029650,0.293233,0.0,...,0,0,0,0,0,0,0,0,0,0
1456,0.800,0.336115,0.000000,0.305237,0.000000,0.000000,0.240236,0.174275,0.000000,0.0,...,0,0,0,0,0,0,0,0,0,0
1457,0.310,0.162724,0.000000,0.084040,0.000000,0.268692,0.178999,0.120094,0.000000,0.0,...,0,0,0,0,0,0,0,0,0,0
1458,0.370,0.147959,0.072868,0.189027,0.000000,0.111215,0.195486,0.125640,0.539205,0.0,...,0,0,0,0,0,0,0,0,0,0

#ACTUAL TESTING YAY

#linear regression

In [714]:
from sklearn.linear_model import LinearRegression
data_train['SalePrice'] 

x_train = data_train.drop(['SalePrice'], axis = 1)
y_train = data_train['SalePrice']

x_test = data_test

model = LinearRegression()
pred = model.fit(x_train.to_numpy(), y_train.to_numpy())

print(pred.intercept_)
print(pred.coef_)
# print(pred.coef_)

4217778662.798073
[ 9.06126987e-03  1.99771634e-01  3.95736989e-02  2.19292198e+10
  5.72708541e+09  9.07630361e+09 -2.37398181e+10 -1.07392713e+07
 -5.08870928e+06 -1.40956020e+06  1.30803244e+07  8.16757490e-03
  6.55441686e-03  1.67159518e-02  6.19552577e-03 -2.62894792e-02
 -4.54022031e-02  2.19302199e-02  2.67178431e-02  1.55140291e-02
  3.94305059e-02  1.25312555e-02  1.21598616e-03  6.36770417e-03
  3.14297050e-02  3.07438399e-02  6.80953954e-01 -8.10572070e-02
  5.01023857e+08  5.01023857e+08  5.01023857e+08  5.01023857e+08
  5.01023857e+08  5.01023857e+08  5.01023857e+08  5.01023857e+08
  5.01023857e+08  5.01023857e+08  1.87802644e+09  1.87802644e+09
  1.87802644e+09  1.87802644e+09  1.87802644e+09  1.87802644e+09
  1.87802644e+09  1.87802644e+09  1.87802644e+09  1.87802644e+09
 -3.92301490e+08 -3.92301490e+08 -3.92301490e+08 -3.92301490e+08
 -3.92301490e+08 -3.92301490e+08 -3.92301490e+08 -3.92301490e+08
 -3.92301490e+08 -3.92301490e+08  2.13544893e+09  2.13544893e+09
  2.13544893e+09  2.13544893e+09  2.13544893e+09 -9.32230494e+07
 -9.32230494e+07 -9.32230494e+07 -9.32230494e+07 -9.32230494e+07
 -9.32230494e+07 -9.32230494e+07 -9.32230494e+07 -9.32230494e+07
 -9.32230494e+07 -9.32230494e+07 -9.32230494e+07 -1.42843319e+09
 -1.42843319e+09 -1.42843319e+09 -1.42843319e+09 -1.42843319e+09
 -1.42843319e+09 -1.42843319e+09 -1.42843319e+09 -1.42843319e+09
 -1.42843319e+09 -1.57159453e+09 -1.42843319e+09 -1.42843319e+09
 -1.42843319e+09 -1.42843319e+09 -1.09338683e+09 -1.09338683e+09
 -1.09338683e+09 -1.09338683e+09 -1.09338683e+09 -1.16673961e+09
 -1.16673961e+09 -2.31639253e+09 -2.31639253e+09 -2.31639253e+09
  1.60582177e+08  1.60582177e+08  4.16172703e+09  4.16172703e+09
  4.16172703e+09  4.16172703e+09  4.16172703e+09  1.28400867e+09
  1.28400867e+09  1.28400867e+09  5.05412099e+08  5.05412099e+08
  5.05412099e+08  5.05412099e+08  5.05412099e+08  5.05412099e+08
  5.05412099e+08  5.05412099e+08  5.05412099e+08  5.05412099e+08
  5.05412099e+08  5.05412099e+08  5.05412099e+08  5.05412099e+08
  5.05412099e+08  5.05412099e+08  5.05412099e+08  5.05412099e+08
  5.05412099e+08  5.05412099e+08  5.05412099e+08  5.05412099e+08
  5.05412099e+08  5.05412099e+08  5.05412099e+08 -7.45563614e+07
 -7.45563614e+07 -7.45563614e+07 -7.45563614e+07 -7.45563614e+07
 -7.45563614e+07 -7.45563614e+07 -7.45563614e+07 -7.45563614e+07
  1.29718987e+08  1.29718987e+08  1.29718987e+08  1.29718987e+08
  1.29718987e+08  1.29718987e+08  1.29718987e+08  1.29718987e+08
 -1.38128263e+09 -1.38128263e+09 -1.23812129e+09 -1.38128263e+09
 -1.38128263e+09  6.54939245e+08  6.54939245e+08  6.54939245e+08
  6.54939245e+08  6.54939245e+08  6.54939245e+08  6.54939245e+08
  6.54939245e+08  1.79681461e+08  1.79681461e+08  1.79681461e+08
  1.79681461e+08  1.79681461e+08  1.79681461e+08  1.79681461e+08
  1.79681461e+08  1.79681461e+08  1.79681461e+08  8.57159139e+08
  6.54412466e+08  6.54412466e+08  6.54412466e+08  6.54412466e+08
  6.54412466e+08  6.54412466e+08  6.54412466e+08  6.54412466e+08
 -7.02912610e+08 -7.02912610e+08 -7.02912610e+08 -7.02912610e+08
 -7.02912610e+08 -7.02912610e+08 -2.18458829e+08 -2.18458828e+08
 -2.18458828e+08 -2.18458828e+08 -2.18458828e+08 -2.18458828e+08
 -2.18458828e+08 -2.18458828e+08  6.96606662e+08  6.96606662e+08
  6.96606662e+08  6.96606662e+08  4.01879198e+08  6.96606662e+08
  6.96606662e+08  6.96606662e+08  6.96606662e+08  6.96606662e+08
  6.96606662e+08  6.96606662e+08  6.96606662e+08  6.96606662e+08
  6.96606662e+08  1.18373212e+07  1.18373212e+07  1.18373212e+07
  1.18373212e+07  3.06564785e+08  1.18373212e+07  1.18373212e+07
  1.18373212e+07  1.18373212e+07  1.18373212e+07  1.18373212e+07
  1.18373212e+07  1.18373212e+07  1.18373212e+07  1.18373212e+07
  1.18373212e+07  8.93549156e+08  8.93549156e+08  8.93549156e+08
  8.93549156e+08  8.93549156e+08  3.70761577e+09  3.70761577e+09
  3.70761577e+09  3.70761577e+09  6.15030550e+08  6.15030550e+08
  6.15030550e+08  6.15030550e+08  6.15030550e+08  4.60041416e+09
  4.60041416e+09  4.60041416e+09  4.60041416e+09  4.60041416e+09
  4.60041416e+09  1.16135068e+09  3.53240737e+08  3.53240737e+08
  3.53240737e+08  3.53240737e+08 -2.44448853e+08 -5.51774806e+08
 -5.51774806e+08 -7.54521479e+08 -5.51774806e+08 -5.23357668e+09
 -5.23357668e+09 -5.23357668e+09 -5.23357668e+09 -5.23357668e+09
  4.69728742e+08  1.58516464e+09  1.58516464e+09  1.58516464e+09
  1.58516464e+09  1.58516464e+09  1.58516464e+09  8.39230702e+08
  8.39230702e+08  8.39230702e+08  8.39230702e+08  8.39230702e+08
  8.39230702e+08  8.39230702e+08 -9.97625949e+07 -9.97625949e+07
 -9.97625949e+07 -9.97625949e+07 -9.97625949e+07 -9.97625949e+07
 -2.38989868e+09 -2.38989868e+09 -2.38989868e+09 -2.38989868e+09
 -2.38989868e+09  1.85467934e+08  1.85467934e+08 -6.97646273e+08
 -6.97646273e+08 -6.97646273e+08 -6.97646273e+08 -4.94899600e+08
 -6.97646273e+08  2.30105198e+09  2.30105198e+09  2.30105198e+09
  2.30105198e+09 -2.68695469e+08 -2.68695469e+08 -2.68695469e+08
 -2.68695469e+08 -2.68695469e+08 -2.68695469e+08 -2.68695469e+08
 -2.33224004e+09 -2.33224004e+09 -2.33224004e+09 -2.33224004e+09
 -2.33224004e+09 -2.33224004e+09 -3.63238283e+09 -1.94115388e+09
 -1.94115388e+09 -1.94115388e+09 -1.94115388e+09 -1.94115388e+09
 -1.94115388e+09 -1.68427259e+09 -7.14091886e+09 -7.14091886e+09
 -7.14091886e+09 -1.59139365e+09  4.07838890e+08  4.07838890e+08
  4.07838890e+08  4.07838890e+08  4.07838890e+08 -1.55652362e+09
  2.09661168e+08  2.09661168e+08  2.09661168e+08  2.09661168e+08
  2.09661168e+08 -1.77180030e+09 -1.77180030e+09 -1.77180030e+09
  1.94493784e+08  1.94493784e+08  1.94493784e+08  1.94493784e+08
 -2.43885053e+09 -2.43885053e+09 -2.43885053e+09 -2.43885053e+09
 -2.43885053e+09 -2.12069305e+08 -2.12069305e+08 -2.12069305e+08
 -2.12069305e+08 -2.12069305e+08 -3.07666225e+08 -3.07666225e+08
 -3.07666225e+08 -3.07666225e+08 -3.07666225e+08 -3.07666225e+08
 -3.07666225e+08 -3.07666225e+08 -3.07666225e+08  1.18977731e+09
  1.18977731e+09  1.18977731e+09  1.18977731e+09  1.18977731e+09
  1.18977731e+09]

In [716]:
# print(x_train)
print(y_train)

0       0.241078
1       0.203583
2       0.261908
3       0.145952
4       0.298709
          ...
1455    0.194556
1456    0.243161
1457    0.321622
1458    0.148903
1459    0.156367
Name: SalePrice, Length: 1460, dtype: float64

In [715]:
model.predict(data_test)
print(model.predict(data_test))

[-1.18822614e+10 -7.94825568e+09 -1.50417807e+10 ... -3.48298342e+09
 -1.37825713e+10 -7.88154906e+09]

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:444: UserWarning: X has feature names, but LinearRegression was fitted without feature names
  f"X has feature names, but {self.__class__.__name__} was fitted without"
/usr/local/lib/python3.7/dist-packages/sklearn/base.py:444: UserWarning: X has feature names, but LinearRegression was fitted without feature names
  f"X has feature names, but {self.__class__.__name__} was fitted without"