<a href="https://colab.research.google.com/github/minerva12938/ai_notes_s22/blob/main/Pandas_Series_exercises.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>



# Pandas Series exercises

In [6]:
# Import the numpy package under the name np
import numpy as np

# Import the pandas package under the name pd
import pandas as pd

![purple-divider](https://user-images.githubusercontent.com/7065401/52071927-c1cd7100-2562-11e9-908a-dde91ba14e59.png)

## Series creation

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Given the X python list convert it to an Y pandas Series

In [2]:
X = ['A','B','C']

In [8]:
Y = pd.Series(X)
print(Y)

0    A
1    B
2    C
dtype: object

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Given the X pandas Series, name it 'My letters'

In [9]:
X = pd.Series(['A','B','C'])

In [10]:
X.name = 'my letters'

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Given the X pandas Series, show its values

In [12]:
X = pd.Series(['A','B','C'])

In [11]:
print(X)

0    A
1    B
2    C
Name: my letters, dtype: object

![purple-divider](https://user-images.githubusercontent.com/7065401/52071927-c1cd7100-2562-11e9-908a-dde91ba14e59.png)

## Series indexation

### Assign index names to the given X pandas Series

In [15]:
X = pd.Series(['A','B','C'])
index_names = ['first', 'second', 'third']

In [18]:
X.index = index_names
print(X)

first     A
second    B
third     C
dtype: object

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Given the X pandas Series, show its first element

In [20]:
X = pd.Series(['A','B','C'], index=['first', 'second', 'third'])

In [21]:
print(X['first'])

A

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Given the X pandas Series, show its last element

In [22]:
X = pd.Series(['A','B','C'], index=['first', 'second', 'third'])

In [24]:
print(X[-1])

C

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Given the X pandas Series, show all middle elements

In [25]:
X = pd.Series(['A','B','C','D','E'],
              index=['first','second','third','forth','fifth'])

In [26]:
print(X['third'])

C

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Given the X pandas Series, show the elements in reverse position

In [27]:
X = pd.Series(['A','B','C','D','E'],
              index=['first','second','third','forth','fifth'])

In [28]:
print(X[::-1])

fifth     E
forth     D
third     C
second    B
first     A
dtype: object

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Given the X pandas Series, show the first and last elements

In [ ]:
X = pd.Series(['A','B','C','D','E'],
              index=['first','second','third','forth','fifth'])

In [31]:
print(X[0], X[-1])

A E

![purple-divider](https://user-images.githubusercontent.com/7065401/52071927-c1cd7100-2562-11e9-908a-dde91ba14e59.png)

## Series manipulation

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Reverse the given pandas Series (first element becomes last)

In [39]:
X = pd.Series([1,2,3,4,5],
              index=['first','second','third','forth','fifth'])

In [42]:
X = X[::-1]

In [43]:
print(X)

fifth     5
forth     4
third     3
second    2
first     1
dtype: int64

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Order (sort) the given pandas Series

In [48]:
X = pd.Series([4,2,5,1,3],
              index=['forth','second','fifth','first','third'])

In [49]:
X.sort_values()

first     1
second    2
third     3
forth     4
fifth     5
dtype: int64

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Given the X pandas Series, set the fifth element equal to 10

In [51]:
X = pd.Series([1,2,3,4,5],
              index=['A','B','C','D','E'])

In [52]:
X.iloc[4] = 10
print(X)

A     1
B     2
C     3
D     4
E    10
dtype: int64

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Given the X pandas Series, change all the middle elements to 0

In [53]:
X = pd.Series([1,2,3,4,5],
              index=['A','B','C','D','E'])

In [54]:
X[1:-1] = 0
print(X)

A    1
B    0
C    0
D    0
E    5
dtype: int64

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Given the X pandas Series, add 5 to every element

In [55]:
X = pd.Series([1,2,3,4,5])

In [56]:
X = X + 5
print(X)

0     6
1     7
2     8
3     9
4    10
dtype: int64

![purple-divider](https://user-images.githubusercontent.com/7065401/52071927-c1cd7100-2562-11e9-908a-dde91ba14e59.png)

## Series boolean arrays (also called masks)

### Given the X pandas Series, make a mask showing negative elements

In [60]:
X = pd.Series([-1,2,0,-4,5,6,0,0,-9,10])

In [67]:
print(X)
print(X[X < 0])

0    -1
1     2
2     0
3    -4
4     5
5     6
6     0
7     0
8    -9
9    10
dtype: int64
0   -1
3   -4
8   -9
dtype: int64

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Given the X pandas Series, get the negative elements

In [63]:
X = pd.Series([-1,2,0,-4,5,6,0,0,-9,10])

In [66]:
neg_elem = X[X < 0]
print(neg_elem)

0   -1
3   -4
8   -9
dtype: int64

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Given the X pandas Series, get numbers higher than 5

In [68]:
X = pd.Series([-1,2,0,-4,5,6,0,0,-9,10])

In [69]:
print(X[X > 5])

5     6
9    10
dtype: int64

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Given the X pandas Series, get numbers higher than the elements mean

In [70]:
X = pd.Series([-1,2,0,-4,5,6,0,0,-9,10])

In [72]:
print(X.mean())
print(X[X > X.mean()])

0.9
1     2
4     5
5     6
9    10
dtype: int64

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Given the X pandas Series, get numbers equal to 2 or 10

In [98]:
X = pd.Series([-1,2,0,-4,5,6,0,0,-9,10])

In [99]:
print(X[(X == 2) | (X == 10)])

1     2
9    10
dtype: int64

![purple-divider](https://user-images.githubusercontent.com/7065401/52071927-c1cd7100-2562-11e9-908a-dde91ba14e59.png)

## Summary statistics

### Given the X pandas Series, show the sum of its elements

In [81]:
X = pd.Series([3,5,6,7,2,3,4,9,4])

In [83]:
print(X.sum())

43

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Given the X pandas Series, show the mean value of its elements

In [84]:
X = pd.Series([1,2,0,4,5,6,0,0,9,10])

In [85]:
print(X.mean())

3.7

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Given the X pandas Series, show the max value of its elements

In [87]:
X = pd.Series([1,2,0,4,5,6,0,0,9,10])

In [86]:
print(X.max())

10

![purple-divider](https://user-images.githubusercontent.com/7065401/52071927-c1cd7100-2562-11e9-908a-dde91ba14e59.png)