<a href="https://colab.research.google.com/github/minerva12938/ai_notes_s22/blob/main/w3_d1_intro_to_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

types of programming languages
1. compiled: 
  source code -> dll -> exe run exe
  needs to compile & create executable to run
  ex: java, c++, c

2. interpreted: 
  interpreter goes line by line through the code
  doesn't need to be compiled first
  ex: python, pearl, javascript, r

catching errors:
*   compiled lang: errors caught @ build time
*   interpreted lang: errors caught @ run time

compiled lang: 
- better memory management
- allocation/deallocation of memory
- can have free garbage collection

interpreted lang:
- easier to learn bc line by line

running code: info gets loaded into memory

---

2nd classification:
based on type safety
1. type safe (strongly types)
ex: Java, C,
2. dynamically typed/weakly typed
ex: python

---

python: 
1. interpreted & weakly typed
2. base version ex: scalar, list, syntax
3. add-on libraries: numerical processing: numpy (arrays, 2D, matrices); data files: csv, tab sep (pandas); plotting: matplotlist, seaborn; text processing; deep learning: tensorflow, pytorch, jax; gaming; reinforcement learning; text mining

---

upcoming languages: 
rust, go, julia

ios:
- objective c
- swift

android: 
- java

cross-platform developer tools

---

artificial intelligence:
- giving intelligence to machines
- having machines learn to reason & learn like humans
- giving human-like intelligenec to non-humans

sub-fields:
- reasoning
- perception
- machine learning: getting machines to "learn"

maching learning: to learn automatically FROM DATA without EXPLICIT programming ex: spam classifier

choices:
- explicitly program
- give machine data & ask it to train itself
  - ex: give it 1000 spam emails & 1000 non-spam ones
  - it'll learn to separate these two classes
- once trained: can work for ANY data in the world

machine learning (ml) vs explicit programming (ep)
- ep: 
  - programming
  - have to specify important attributes
- ml: 
  - supply training data to machine; less programmer work
  - system chooses important attributes itself
  - can ask system to re-train until it meets some criteria/accuracy

---
types of learning:

1. supervised learning (70% of effort)
- always has an answer, no idk or not sure; only spam or not spam for ex
  - can only do a specific task
- learning to predict smth based on labeled training data 
  - label ex: spam vs not spam, price ($), temperature (C/F)
- models (what type of brain does the machine have?):
    - linear regression
    - dicision tree
    - neural network
    - SVM
2. unsupervised learning/data mining (20% of the time)
- machine has more freedom
- "tell me smth i don't know" or "find the needle in the haystack"
- could find:
  - patterns, outliers
  - association rules
  - co-occurance
  - recommender systems
- type of data given: (data) <- NO LABELS
3. re-enforcement learning (10% of time)
- no data given
- given: agent in an environment & interaction rules instead
- it generates it's own data
- ex: 
  - interaction rules: reward & punishment
  - agent interacts with environment and keeps track (makes it's own data)
  - tries to max total reward
- can the agent become smarter than the trainer?
  - deep blue chess player
    - IBM super computer that beat some of the world's best players
  - no if explicitly played bc programmer controls how well it does
  - yes if re-enforcement learning

pandas
- series: ordered sequence of elements
- data frame: multiple series/rows & columns and combinations

operations: create, name, index slicing, math, ...

In [524]:
import pandas as pd
import numpy as np

scores = pd.Series([43, 54, 12, 86, 98, 24, 78, 97, 54])
type(scores) # = pandas.core.series.Series

pandas.core.series.Series

In [525]:
lt = [43, 54, 12, 86, 98, 24, 78, 97, 54]

print(lt)
print(scores)

[43, 54, 12, 86, 98, 24, 78, 97, 54]
0    43
1    54
2    12
3    86
4    98
5    24
6    78
7    97
8    54
dtype: int64

In [526]:
scores.name = "scores of student"
print(scores)

0    43
1    54
2    12
3    86
4    98
5    24
6    78
7    97
8    54
Name: scores of student, dtype: int64

In [527]:
scores[1]

print(scores[1:5])

scores.values

#pandas uses numpy as a base data structure so many things are similar

#changes indexing values from int to letters
scores.index = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i']

print(scores)
print(scores['f'])
#inclusive now
print(scores['a': 'e'])

1    54
2    12
3    86
4    98
Name: scores of student, dtype: int64
a    43
b    54
c    12
d    86
e    98
f    24
g    78
h    97
i    54
Name: scores of student, dtype: int64
24
a    43
b    54
c    12
d    86
e    98
Name: scores of student, dtype: int64

In [528]:
dummy_scores = pd.Series([1, 2, 3, 4, 5], index = ['qw', 'we', 'er', 'rt', 'ty'])

print(dummy_scores)
print(dummy_scores['ty'])

qw    1
we    2
er    3
rt    4
ty    5
dtype: int64
5

In [529]:
print(scores)

#index using an int value
print()
print(scores.iloc[0])
print(scores.iloc[-1])
print()
print(scores.iloc[:])

print()
print(scores[['a', 'b']])

a    43
b    54
c    12
d    86
e    98
f    24
g    78
h    97
i    54
Name: scores of student, dtype: int64

43
54

a    43
b    54
c    12
d    86
e    98
f    24
g    78
h    97
i    54
Name: scores of student, dtype: int64

a    43
b    54
Name: scores of student, dtype: int64

In [530]:
print(scores > 50)

print()
print(scores[scores>50])

print()
print(scores[scores > scores.mean()])

a    False
b     True
c    False
d     True
e     True
f    False
g     True
h     True
i     True
Name: scores of student, dtype: bool

b    54
d    86
e    98
g    78
h    97
i    54
Name: scores of student, dtype: int64

d    86
e    98
g    78
h    97
Name: scores of student, dtype: int64

In [531]:
print(scores + 10)

print(scores - 10)

a     53
b     64
c     22
d     96
e    108
f     34
g     88
h    107
i     64
Name: scores of student, dtype: int64
a    33
b    44
c     2
d    76
e    88
f    14
g    68
h    87
i    44
Name: scores of student, dtype: int64

In [532]:
scores['a'] = 60
print(scores)

a    60
b    54
c    12
d    86
e    98
f    24
g    78
h    97
i    54
Name: scores of student, dtype: int64

In [533]:
from numpy.random import randn
X = pd.DataFrame (randn(4, 4))

print(X)
print()

#prints first column, NOT row
print(X[0])
print()

#prints first row, NOT column
print(X.iloc[0])
print()

#prints first column, NOT row
print(X.iloc[:, 0])

          0         1         2         3
0 -0.092806  0.446866 -0.357258  1.531169
1 -0.433613 -1.557362 -1.359538 -0.406941
2  1.413215  1.071095 -0.112571  0.680413
3  0.390080  0.801314 -1.081638  1.364172

0   -0.092806
1   -0.433613
2    1.413215
3    0.390080
Name: 0, dtype: float64

0   -0.092806
1    0.446866
2   -0.357258
3    1.531169
Name: 0, dtype: float64

0   -0.092806
1   -0.433613
2    1.413215
3    0.390080
Name: 0, dtype: float64

In [534]:
X.index = ['a', 'b', 'c', 'd']
X.columns = [1, 2, 3, 4]
print(X)

          1         2         3         4
a -0.092806  0.446866 -0.357258  1.531169
b -0.433613 -1.557362 -1.359538 -0.406941
c  1.413215  1.071095 -0.112571  0.680413
d  0.390080  0.801314 -1.081638  1.364172

In [535]:
print(X[1])
print()
print(X[4])
print()

#prints row 2/'b'
print(X.iloc[1])
print()

#prints row 'b'
print(X.loc['b'])

a   -0.092806
b   -0.433613
c    1.413215
d    0.390080
Name: 1, dtype: float64

a    1.531169
b   -0.406941
c    0.680413
d    1.364172
Name: 4, dtype: float64

1   -0.433613
2   -1.557362
3   -1.359538
4   -0.406941
Name: b, dtype: float64

1   -0.433613
2   -1.557362
3   -1.359538
4   -0.406941
Name: b, dtype: float64

In [536]:
print(X[[1, 2]])
print()

print(X.loc[['a', 'c']])
print()

#note: iloc == use an integer to index it
#loc == us the letter/name to index it

#iloc is NOT inclusive of last #
print(X.iloc[1:3])
print()

#loc IS inclusive of last name
print(X.loc['a':'c'])

          1         2
a -0.092806  0.446866
b -0.433613 -1.557362
c  1.413215  1.071095
d  0.390080  0.801314

          1         2         3         4
a -0.092806  0.446866 -0.357258  1.531169
c  1.413215  1.071095 -0.112571  0.680413

          1         2         3         4
b -0.433613 -1.557362 -1.359538 -0.406941
c  1.413215  1.071095 -0.112571  0.680413

          1         2         3         4
a -0.092806  0.446866 -0.357258  1.531169
b -0.433613 -1.557362 -1.359538 -0.406941
c  1.413215  1.071095 -0.112571  0.680413

In [537]:
print(X.index)
print()

print(X.columns)
print()

print(X.info)
print()

print(X.size)
print()

#prints ([rows], [columns])
print(X.shape)
print()

Index(['a', 'b', 'c', 'd'], dtype='object')

Int64Index([1, 2, 3, 4], dtype='int64')

<bound method DataFrame.info of           1         2         3         4
a -0.092806  0.446866 -0.357258  1.531169
b -0.433613 -1.557362 -1.359538 -0.406941
c  1.413215  1.071095 -0.112571  0.680413
d  0.390080  0.801314 -1.081638  1.364172>

16

(4, 4)

In [538]:
print(X.describe())
print()

#axis 0: sum for each column
print(X.sum(axis = 0))
print()

#axis 1: sum for each row
print(X.sum(axis = 1))

              1         2         3         4
count  4.000000  4.000000  4.000000  4.000000
mean   0.319219  0.190478 -0.727751  0.792203
std    0.803818  1.192936  0.588813  0.880087
min   -0.433613 -1.557362 -1.359538 -0.406941
25%   -0.178008 -0.054191 -1.151113  0.408575
50%    0.148637  0.624090 -0.719448  1.022293
75%    0.645864  0.868760 -0.296087  1.405921
max    1.413215  1.071095 -0.112571  1.531169

1    1.276877
2    0.761913
3   -2.911005
4    3.168813
dtype: float64

a    1.527971
b   -3.757453
c    3.052152
d    1.473929
dtype: float64

In [539]:
#adding a new column to data frame x
Y = pd.DataFrame(randn(5, 4))
Y['new_column'] = [1, 2, 3, 4, 5]

print(Y)

          0         1         2         3  new_column
0  0.079115  1.036777  0.440887 -0.360984           1
1 -0.369473 -0.653177 -1.166276  0.360112           2
2  1.847587  0.444131  0.083178 -0.822637           3
3  0.745347  0.871413  1.155288 -1.075046           4
4  0.443034  1.314098 -0.996561  1.027849           5

In [540]:
print(X)
# print(X.loc['a':'b', 1:3])

print(X.iloc[1:2, 1:3])

          1         2         3         4
a -0.092806  0.446866 -0.357258  1.531169
b -0.433613 -1.557362 -1.359538 -0.406941
c  1.413215  1.071095 -0.112571  0.680413
d  0.390080  0.801314 -1.081638  1.364172
          2         3
b -1.557362 -1.359538

In [541]:
print(X > X.mean())
print()

print(X[2] > X.mean(axis = 1))
print()

       1      2      3      4
a  False   True   True   True
b  False  False  False  False
c   True   True   True  False
d   True   True  False   True

a     True
b    False
c     True
d     True
dtype: bool

In [542]:
#row 3 or 'c'
X.iloc[2] > X.mean(axis = 0)

1     True
2     True
3     True
4    False
dtype: bool

In [544]:
#adding rows & columns

#adding column
#make sure length matches, cannot be too small or big
X[5] = [1, 2, 3, 4]
print(X)
print()

#adding multiple columns
X = X.append([{0:1, 1:2, 2:3, 3:4, 4:5, 5:6}, {0:1, 1:2, 2:3, 3:4, 4:5, 5:6}], ignore_index = True)

#adding row
# X.loc[len(X.index)] = [0, 0, 0, 0, 0 ,0]
print(X)
print()

#deleting a row
X = X.drop(4)
print(X)
print()

#deleting a column
X.drop(5, inplace = True, axis = 1)
print(X)

          1         2         3         4  5
a -0.092806  0.446866 -0.357258  1.531169  1
b -0.433613 -1.557362 -1.359538 -0.406941  2
c  1.413215  1.071095 -0.112571  0.680413  3
d  0.390080  0.801314 -1.081638  1.364172  4

     0         1         2         3         4  5
0  NaN -0.092806  0.446866 -0.357258  1.531169  1
1  NaN -0.433613 -1.557362 -1.359538 -0.406941  2
2  NaN  1.413215  1.071095 -0.112571  0.680413  3
3  NaN  0.390080  0.801314 -1.081638  1.364172  4
4  1.0  2.000000  3.000000  4.000000  5.000000  6
5  1.0  2.000000  3.000000  4.000000  5.000000  6

     0         1         2         3         4  5
0  NaN -0.092806  0.446866 -0.357258  1.531169  1
1  NaN -0.433613 -1.557362 -1.359538 -0.406941  2
2  NaN  1.413215  1.071095 -0.112571  0.680413  3
3  NaN  0.390080  0.801314 -1.081638  1.364172  4
5  1.0  2.000000  3.000000  4.000000  5.000000  6

     0         1         2         3         4
0  NaN -0.092806  0.446866 -0.357258  1.531169
1  NaN -0.433613 -1.557362 -1.359538 -0.406941
2  NaN  1.413215  1.071095 -0.112571  0.680413
3  NaN  0.390080  0.801314 -1.081638  1.364172
5  1.0  2.000000  3.000000  4.000000  5.000000

In [ ]:
#key value pair
dt = {1: 'naga', 2: 'ram', 'Q': 123412}
dt['Q'] = 'no'
print